{{yield}}

<div>
    <h3>Select atleast 5</h3>
    <p>{{this.formatDate this.range.start}} - {{this.formatDate this.range.end}}</p>
    <PowerCalendarRange
      class="demo-range-calendar-with-pretty-range-ends-yo"
      @center={{this.center}}
      @onCenterChange={{this.onCenterChange}}
      @minRange={{5}}
      @selected={{this.range}}
      @onSelect={{this.onSelect}} as |calendar|>
        <div class={{if calendar.loading 'loading-spiner-overlay' }}>
            <calendar.Nav />
            <calendar.Days />
        </div>
    </PowerCalendarRange>
</div>