{{#unless this.nothingList}}
<div class="text-end mt-3">
    Select all
    <input type="checkbox" {{on "change" this.selectAll}}>
</div>
{{/unless}}
<div class="overflow-y-scroll overflow-x-scroll" style="height: 70vh;" {{on-key 'ArrowDown' this.moveDown}}
    {{on-key 'ArrowUp' this.moveUp}}>
    {{#liquid-if predicate=this.visibleStudents.length class="students"}}
    <VerticalCollection @items={{this.visibleStudents}}
     @tagName="table"
    @estimateHeight={{10}}
        bufferSize={{5}} as |item index|>
        <tr class="w-100 rounded-3 fw-400 my-3 d-flex justify-content-between align-items-center rounded-3 px-3 py-2 {{if (eq this.selectedIndex index) 'border-bold'}}"
            index={{index}} {{on 'dblclick' this.selectStudent}} item={{item}}>
            <td class="col-3">
                <input type="checkbox" class="mx-2 mt-2 checkbox">
                <img src={{item.profileImage}} alt="" width="50px" class="rounded-circle">
                <div class="d-inline-block align-middle mx-2">
                    <span class="d-block fs-6 m-0 fw-semibold name">{{item.name}}</span>
                    <span class="d-block rollNumber">{{item.rollNumber}}</span>
                </div>
            </td>
            <td class="col-3">
                <div class="d-inline-block">
                    <span class="d-block department">{{item.department}}</span>
                    <span class="d-block enrollmentYear">{{item.enrollmentYear}}</span>
                </div>
            </td>
            <td class="col-2">
                <span class="d-block dob">{{item.dob}}</span>
                <span class="d-block gender">{{item.gender}}</span>
            </td>

            <td class="col-3 address">{{item.address}}</td>

            <td class="col-1 text-end">
                <button class="border-0 text-bg-secondary  text-white py-1 px-3 rounded" type="button" {{on 'click' (fn
                    this.performEdit item)}}>Edit</button>
                <FaIcon @icon="xmark" class="mx-1" {{on 'click' (fn this.removeStudent item)}} />
            </td>
        </tr>
    </VerticalCollection>
    {{else}}
    <div class="text-center text-secondary mt-5">
        <p>Nothing to show...</p>
    </div>
    {{/liquid-if}}
</div>
