{{yield}}
<section class="bg-color">
  <main class="bg-white w-75 m-auto py-3 px-4">
    <section class="d-flex justify-content-between align-items-center">
      <h3 class="liquid-bind-heading">Student List</h3>
      <input type="text" class="w-75 rounded-pill text-center py-1" id="searchInp" placeholder="Search..."
        value={{this.searchInp}} {{on "input" this.updateSearch}}>
      <LinkTo @route="index.add">
        <button type="button" class="bg-dark text-white border-0 rounded px-3 py-1">
          Create
        </button>
      </LinkTo>
      <FaIcon @icon="trash" class="text-danger" {{on 'click' this.bulkDeletion}} {{on-key "Delete"
        this.bulkDeletion}} />
    </section>

    <Students />

    <div class="flash-messages">
      {{#each this.flashMessages.queue as |flash|}}
      <FlashMessage @flash={{flash}} class="flash-message" as |component flash close|>
        <h6 class="m-0">{{component.flashType}}: <span>{{flash.message}}</span></h6>
        {{#if component.showProgressBar}}
        <div class="alert-progress">
          <div class="alert-progressBar" style="{{component.progressDuration}}"></div>
        </div>
        {{/if}}
        <FaIcon @icon="xmark" role="button" class="text-danger close-btn" {{on "click" close}} />
      </FlashMessage>
      {{/each}}
    </div>

    <div>
      <h3>Demo section</h3>
      <div>
        <h5>Scroll</h5>
        <LinkTo @route="scroll.infinitescroll">
          <button class="btn btn-primary" type="button">Infinite scroll</button>
        </LinkTo>

        <LinkTo @route="scroll.scrollablebody">
          <button class="btn btn-primary" type="button">Scrollable Body</button>
        </LinkTo>

        <LinkTo @route="scroll.dynamic-content-size">
          <button class="btn btn-primary" type="button">Dynamic Content Size</button>
        </LinkTo>
      </div>

      <div>
        <h5>Date Range</h5>
        <LinkTo @route="date-demo.date">
          <button class="btn btn-primary" type="button">Date</button>
        </LinkTo>
        <LinkTo @route="date-demo.date-range">
          <button class="btn btn-primary" type="button">Date Range</button>
        </LinkTo>
        <LinkTo @route="date-demo.minimum-date-range">
          <button class="btn btn-primary" type="button">Minimum Date Range</button>
        </LinkTo>
        <LinkTo @route="date-demo.maximum-date-range">
          <button class="btn btn-primary" type="button">Maximum Date Range</button>
        </LinkTo>
        <LinkTo @route="date-demo.proximity-selection-date-range">
          <button class="btn btn-primary my-1" type="button">Proximity Selection Date Range</button>
        </LinkTo>
        <LinkTo @route="date-demo.multiple-dates">
          <button class="btn btn-primary my-1" type="button">Multiple Dates </button>
        </LinkTo>
      </div>

      <div>
        <h5>Select</h5>
        <LinkTo @route="select-demo.select">
          <button class="btn btn-primary" type="button">Select Item</button>
        </LinkTo>

        <LinkTo @route="select-demo.select-multiple">
          <button class="btn btn-primary" type="button">Select Multiple</button>
        </LinkTo>

        <LinkTo @route="select-demo.select-group">
          <button class="btn btn-primary" type="button">Select group</button>
        </LinkTo>

        <LinkTo @route="select-demo.select-component">
          <button class="btn btn-primary" type="button">Select component</button>
        </LinkTo>
      </div>

      <div>
        <h5>Concurrency</h5>
        <LinkTo @route="concurrency-demo.wo-task">
          <button class="btn btn-primary" type="button">Without task</button>
        </LinkTo>

        <LinkTo @route="concurrency-demo.w-task">
          <button class="btn btn-primary" type="button">with task, timeout</button>
        </LinkTo>
      </div>

      <div>
        <h5>Keyboard</h5>
        <LinkTo @route="keyboard-demo">
          <button class="btn btn-primary" type="button">Keyboard demo</button>
        </LinkTo>
      </div>

      
      <div>
        <h5>Liquid fire</h5>
        <LinkTo @route="liquid-fire">
          <button class="btn btn-primary" type="button">Liquid fire demo</button>
        </LinkTo>
      </div>

    </div>

  </main>

</section>

<LiquidOutlet @containerId="student-data-popup"/>