{{yield}}
<section class="bg-color">
  <main class="bg-white w-75 m-auto py-3 px-4 vh-100">
    <section class="d-flex justify-content-between align-items-center">
      <h3>Student List</h3>
      <input type="text" class="w-75 rounded-pill text-center py-1" id="searchInp" placeholder="Search..."
        value={{this.searchInp}} {{on "input" this.updateSearch}}>
      <LinkTo @route="index.add">
        <button type="button" class="bg-dark text-white border-0 rounded px-3 py-1">
          Create
        </button>
      </LinkTo>
      <FaIcon @icon="trash" class="text-danger" {{on 'click' this.bulkDeletion}} {{on-key "Delete"
        this.bulkDeletion}} />
    </section>
    
    <Students />

    <div class="flash-messages-container">
      {{#each this.flashMessages.queue as |flash|}}
      <div class="flash-message {{flash.type}}">
        <p class="m-0">{{flash.message}}</p>
        <button class="flash-close-button" type="button" {{on "click" (fn this.removeFlashMessage flash)}}>×</button>
      </div>
      {{/each}}
    </div>
  </main>
</section>